* {
    box-sizing: border-box;
}
body {
    padding-top: 50px;
}
.display{
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding: 2vw;
    column-gap: 1vh;
    row-gap: 2vh;
    /* justify-content: space-evenly; */
}

/* For mobile phones: */
@media only screen and (max-width: 768px) {
    .display{
        grid-template-columns: auto;
    }
}
.card{
    min-width: 21vw;
    /* min-height: 75vh; */
    /* height: min-content; */
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:whitesmoke;
    transition: 0.5s;
    padding: 2vh;
    overflow: hidden;
}
.card:hover{
    background-color: black;
    color: white;
    cursor: pointer;
    box-shadow: 6px 6px var(--color-orange);
}
.card-img {
    height: 30vh;
    /* width: 20vw; */
}
.card-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 2vh;
    height: 75%;
}
.card-description, h3{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}
.card-info{
    /* min-width: 0;
    width: 20vw;
    max-width: 100%;
    height: 80%; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.hidden{
    display: none;
}
.search-container{
    padding-top: 2vw;
    display: flex;
    justify-content: center;
}
#searchAYT {
    height: 10vh;
    width: 50vw;
    font-size: 2rem;
}

.item-comment .item{
    margin-right: 20px;
    cursor: pointer;
    bottom: 0;
}

.metadata{
   display: flex;
   flex-direction: column;
}

h3{
    font-size: 1.6666666666rem;
}
.author,.date-added{
    font-weight: 600;
}