*{
    font-family: 'Quicksand', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-size: 15px; */
}

.container{
    position: absolute;
    top: 70px;
}

.main{
    width: 100%;
    padding: 0 15%;
    /* text-align: center; */
}

.main strong{
    display: block;
}

.main P{
    margin-bottom: 15PX;
}

.main > h2{
    text-align: center;
    margin-bottom: 15px;
}

.main > h4{
    margin-bottom: 10px;
}

.main > img{
    display: block;
    margin: auto;
    max-width: 800px;
    width: 400px;
    margin-bottom: 10px;
}
