*{
    font-family: 'Quicksand', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-size: 15px; */
}

:root{
    --color-orange:rgba(255, 68, 0);
}

.container{
    position: absolute;
    top: 70px;
}

.main{
    width: 100%;
    padding: 0 15%;
    /* text-align: center; */
}

.main strong{
    display: block;
}

.main P{
    margin-bottom: 15PX;
}

.main > h2{
    text-align: center;
    margin-bottom: 15px;
}

.main > h4{
    margin-bottom: 10px;
}

.main > img{
    display: block;
    margin: auto;
    max-width: 800px;
    width: 400px;
    margin-bottom: 10px;
}

.main > h3{
    margin-top: 20px;
    margin-bottom: 10px;
    /* border-bottom: 1px black solid; */
}

.main .userComment{
    margin-left: 20px;
    margin-top: 15px;
}

.userComment >p{
    margin-bottom: 5px;
}

.main .inputComment{
    width: 100%;
    outline: none;
    height: auto;
    margin: 20px 0;
    padding: 5px;
    border: none;
    border-bottom: 1px #ccc solid;
    font-size: 15px;
}

.main .btn-comment{
    display: block;
    width: 100px;
    height: 30px;
    font-weight: 500;
    margin-bottom: 10px;
    font-size: 15px;
    background-color: white;
    cursor: pointer;
    border: 1px #ccc solid;
    margin-right: 0;    
}


.main .btn-comment:hover{
    background-color: var(--color-orange);
    color: white;
}


