*{
    font-family: 'Quicksand', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --color-orange:rgba(255, 68, 0);
}

/* ----------------navbar----------------------- */
.navbar{
    display: flex;
    justify-content: center;
    /* height: 60px; */
    /* background-color: rgba(255, 255, 255, 0); */
    align-items: center;
    width: 100%;
    background-color: black;
    position: fixed;
    top: 0;
    z-index: 2;
}

.navbar a{
    text-decoration: none;
    color: white;
    font-weight: 600;
    font-size: 16px;
    padding: 20px 20px;
}

.logo-img > img{
    height: 60px;
    /* height: 160px; */
}

.logo-img{
    flex: 1;
    display: flex;
    justify-content: flex-end   ;
    
}

.nav-link{
    flex: 2;
    /* display: flex;
    justify-content: center; */
}

.link-active > a{
    color: var(--color-orange);

}

.nav-link > ul{
    list-style-type: none;
    display: flex;
    justify-content: center;
}

.nav-link a{
    text-decoration: none;
}

.sub-nav{
    list-style-type: none;
    display: none;
}

.sub-nav li{
    padding: 10px 0px;

}

.nav > li:hover > a{
    /* text-decoration: underline; */
    color: var(--color-orange);
}

.nav .sub-nav{
    position: absolute;
    top: 60px;
    background-color: black;
}

.dropdown:hover .sub-nav{
    display: block;

}

.sub-nav li:hover{
    background-color: var(--color-orange);

}

/* .sub-nav li:hover a{
    color: black;

    
} */

.nav-search{
    flex: 1;
    display: flex;
    align-items: center;
}

.nav-search .link-login{
    color: white;  
    font-weight: 600; 
    position: relative;
}

.link-login .nameUser{
    padding: 20px;
}

.link-login .logOutUser{
    position: absolute;
    background-color: black;
    right: 0;
}

.logOutUser > a{
    display: block;
    padding: 10px 20px;
}

.logOutUser > a:hover{
    background-color: var(--color-orange);
    display: block;
}

.link-login:hover .logout-hiden{
    display: block;
}

.logout-hiden{
    display: none;
}

.input-search {
    border-bottom: 1px white solid;
    margin-right: 40px;
}
.input-search > input{
    height: 30px;
    width: 150px;
    outline: none;
    background: none;
    border: none;
    color: white;
}
.input-search > button{
    float: right;
    background: none;
    border: none;
    color: white;
}





/* -------------------slider------------------- */

.slider{
    width: 100%;
    max-height: 100vh;
    overflow: hidden;
    position: relative;
}

.slider::after{
    display: block;
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.slider__content{
    position: absolute;
    left: 15%;
    top: 30%;
    color: white;
    z-index: 1;
}

.slider__content h1{
    font-size: 60px;
    margin-bottom: 20px;
}

.slider__content p{
    margin-bottom: 50px;
    font-size: 20px;
}

.slider__content a{
    font-size: 20px;
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    border-radius: 50px;
    background-color: rgba(255, 68, 0, 0.61);
}

.slider__content a:hover{
    background-color: var(--color-orange);
}

.recipes {
    display: flex;
    width: 100%;
    margin-bottom: 20px;
    margin-top: 10px;
}

.featured{
    /* height: 90vh; */
    /* background-repeat: no-repeat; */
    /* background-size: cover; */
    /* display: flex; */
    /* align-items: flex-end; */
    /* justify-content: center; */
    border-right: 1px #ccc solid;
}

.featured .content__items{
    display: block;
    position: sticky;
    top: 60px;
}

.featured .content__items .img-item{
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}

/* -------------------sửa phần main-------------------- */








.main, .featured {
    width: 50%;
    /* max-height: 100vh; */
    /* overflow-y: auto; */
}

.main .content{
    flex: 4;
}

.main .content{
    margin-bottom: 0;
    background-color: white;
}

.content__items{
    display: flex;
    margin: 20px 50px;
    border-bottom: 1px rgba(87, 63, 63, 0.2) solid;
}

.para-items{
    position: relative;
    flex: 4;
}

.img-item{
    flex: 1;

}

.content__items .img-item{
    width: 200px;
    height: 150px;
    /* overflow: hidden; */
}

.img-item img{
    width: 100%;
    height: auto;
    object-fit: cover;
}

.para-items .item-info{
    padding-bottom: 30px;
}

.content__items .para-items{
    margin: 0px 20px;
}

.item-info  a{
    text-decoration: none;
    color: black;
}

.item-info  > a{
    font-weight: 500;
    text-decoration: underline;
    margin-right: 20px;
}

.item-info  > a:hover{
    color: var(--color-orange);
}

.item-info > p{
    margin-top: 10px;
    margin-bottom: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    
}

.para-items .item-comment{
    position: absolute;
    right: 20px;
    bottom: 1px;
}

.content__items .item{
    margin-right: 20px;
    cursor: pointer;
}


.item-comment .liked{
    color: var(--color-orange);
}










/* ---------------------footer--------------- */

.footer{
    display: flex;
    background-color: #ccc;
    padding-top: 20px;
}

.footer__about{
    flex: 1;
    padding: 0 150px;
}

.footer__about > h2{
    border-bottom: 2px var(--color-orange) solid;
    display: inline-block;
    margin-bottom: 20px;
    /* margin-left: 100px; */
}

.footer__about-content{
    display: flex;
}

.footer__about-content > img{
    width: 150px;
}

.footer__about-content > p{
    padding-left: 20px;
}

.footer__about-icons ul{
    display: flex;
    list-style-type: none;
    margin-left: 170px;
    font-size: 30px;
}

.footer__about-icons ul li{
    margin-right: 20px;
}

.footer__contact{
    flex: 1;
}

.footer__contact > h2{
    border-bottom: 2px var(--color-orange) solid;
    display: inline-block;
    margin-bottom: 20px;
}

.footer__contact > ul{
    list-style-type: none;
}   

.footer__contact > ul >li{
    margin-bottom: 10px;
}

/* ---------------the end------------------ */

.copyright{
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
