@media only screen and (max-width: 739px)  {
    :root{
        --color-orange:rgba(255, 68, 0);
    }
    .display{
        grid-template-columns: auto ;
    }
}

@media only screen and (min-width: 740px) and (max-width:1023px)  {
    :root{
        --color-orange:rgba(255, 68, 0);
    }

    .display{
        grid-template-columns:  auto auto;
    }
    
}

@media only screen and (min-width: 1024px) and (max-width:1199px) {
    .display{
        grid-template-columns:  auto auto auto;
    }
}

@media only screen and (min-width: 1200px){
    
}